@font-face{
  font-family:"Ubuntu-M";
  src: url('/components/font/Ubuntu-M.tff') format("truetype");
}
@font-face{
  font-family:'blanch';
  src: url('/components/font/blanch.tff') format("truetype");
}

.paragraphe{
  color: white;
  font-family: "arial";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#form{
  min-height: 70vh;
}

.AssociationInput {
  margin: 10px;
}

#navContainer {
  background-color: #ffffff !important;
}

#navContainer .navbar-nav>.active>a{
  color: #b78f33 !important;
  background-color: #5ea8be;
  background-image: none;
}

.nav-link, .navbar-brand {
  /* font-family: "Ubuntu-M"!important; */
  /* font-family: 'blanch'!important; */
  color: white !important;
  color: black !important;
}

.text-primary {
  color: #064f64 !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #064f64 !important;
  border-color: #053c4c !important;
  background-image: none !important;
}

#flex-container {
  display: flex;
  justify-content: flex-end;
}

.full {
  width: 100%;
}

.footer {
height: auto;
padding-bottom: 5px;
position: relative;
width: 100%;
  color:#fff;
border-bottom: 1px solid #CCCCCC;
border-top: 1px solid #DDDDDD;
  background: #00003E; 
  background: -webkit-linear-gradient(to right, #31BDE6, #0c0c68);  
  background: linear-gradient(to right, #31BDE6, #0c0c68);     
}

.footer {
  height: auto;
  padding-bottom: 5px;
  position: relative;
  width: 100%;
    color:#fff;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
    background: #00003E; 
    background: -webkit-linear-gradient(to right, #328ee5, #00003E);  
    background: linear-gradient(to right, #328ee5, #00003E);     
  }

.footer h3 {
border-bottom: 1px solid #BAC1C8;
  color:#fff;
font-size: 18px;
font-weight: 600;
line-height: 27px;
padding: 10px 0 10px;
text-transform: uppercase;
}
.footer ul {
font-size: 13px;
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 5px;
color: #7F8C8D;
}
.footer ul li a {
padding: 0 0 5px 0;
display: block;
}
.footer a {
color: #78828D;
  color:#fff;
}
.supportLi h4 {
font-size: 20px;
font-weight: lighter;
line-height: normal;
margin-bottom: 0 !important;
padding-bottom: 0;
}

.subscribe-btn .btn {
border: medium none;
border-radius: 4px;
display: inline-block;
height: 40px;
padding: 0;
width: 100%;
color: #fff;
  margin-top:10px;
}
.subscribe-btn {
overflow: hidden;
}

.social li {
border: 2px solid #B5B5B5;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
float: left;
height: 36px;
line-height: 36px;
margin: 0 8px 0 0;
padding: 0;
text-align: center;
width: 36px;
transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
-webkit-transition: all 0.5s ease 0s;
-ms-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
}

.social li a {
color: #EDEFF1;
}

.social li:hover {
border: 2px solid #2c3e50;
background: #2c3e50;
}

.social li a i {
font-size: 16px;
margin: 0 0 0 5px;
color: #EDEFF1 !important;
}

.footer-bottom {
  background: #40E0D0;
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 5px;
  color:#fff;
  text-align: center;
}

button:focus{
  outline: none!important;
}
.card-img-top{
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.container-img-card{
  height: 450px!important;
  overflow: hidden;
}
.slider-control-bottomcenter{
  bottom: -50px!important;
}
.title-event{
  height: 55px;
  line-height: 55px;
  background-color: rgb(231, 231, 231);
  color: rgb(52, 57, 64);
  text-align: center;
  margin-top: 80px;
  font-size: 18px;
}
.carousel{
  margin-bottom: 120px;
}
.btn-dark{
  width: 100%;
  background-color: #000!important;
}
.footer{
  padding: 30px 0;
}